<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Instagram Sign In</title>
</head>
<body>
  <div>
    Sign In Form
    <br>
    <form action="/user/signin" method="post">
      <label for="signin-user-name">User Name</label><br>
      <input type="text" id="signin-user-name" name="signin-user-name"><br>
      <label for="signin-password">Password</label><br>
      <input type="password" id="signin-password" name="signin-password"><br>
      <input type="submit" value="Submit"><br>
    </form>
  </div>
  <a href="/">
    <button type="button">Go back to the main page</button>
  </a>
</body>
</html>