<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Instagram Sign In</title>
    <link rel="icon" href="/background-images/Instagram_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url('/background-images/bg-1.jpeg');
        align-items:center;">
  <div class="container" align="center">
    <h3 class="label label-primary">Sign In Form</h3>
    <br><br>
    <form action="/user/signin" method="post">
      <label class="label label-default" for="signin-user-name">User Name</label><br><br>
      <input type="text" id="signin-user-name" name="signin-user-name"><br><br>
      <label class="label label-default" for="signin-password">Password</label><br><br>
      <input type="password" id="signin-password" name="signin-password"><br><br>
      <input type="submit" class="btn btn-default" value="Submit">
        <a href="/">
            <button type="button" class="btn btn-success">Go back to the main page</button>
        </a>
    </form>
  </div>

</body>
</html>