<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Instagram Sign Up</title>
    <link rel="icon" href="/background-images/Instagram_icon.png" type="image/x-icon">
</head>
<body>
    <div>
        Sign Up Form
        <br>
        <form action="/user/signup" method="post">
            <label for="signup-user-name">User Name</label><br>
            <input type="text" id="signup-user-name" name="signup-user-name"><br>
            <label for="signup-password">Password</label><br>
            <input type="password" id="signup-password" name="signup-password"><br>
            <input type="submit" value="Submit"><br>
        </form>
    </div>
    <a href="/">
        <button type="button">Go back to the main page</button>
    </a>
</body>
</html>